<aside>
  <div class="side-bar p-2" [ngClass]="{'minimize': navbarVal}">
   
    <div class="menu-contents">
      <div>
        <a class="content has-child">
          <img src="assets/img/icons/Appointments.svg" alt="appointments">
          <span>Appointments</span>
        </a>
        <div>
          <a routerLink="appointment/show" class="child-content">
            <img src="assets/img/icons/Show-Appointments.svg" alt="show appointments">
            <span>Show Appointments</span>
          </a>
        </div>
      </div>

    </div>
  </div>
</aside>
