<div class="container">
  <div class="row mt-3 mb-3">
    <div class="col-md-1 col-lg-2 col-xl-2"></div>
    <div class="col-sm-12 col-md-10 col-lg-8 col-xl-8 text-white discount-box">
      <h5 class="text-center head-h5 font-weight-bold mt-3 mb-5 pt-4 pb-5"><span class="head text-body">Update Profile</span></h5>
      <form name="form" class="add-category-form">
        <div class="row form-group">
          <label class="col-sm-5 text-left category-font-style">Salon Name</label>
          <div class="input-group col-sm-7">
            <input type="text" class="form-control cat-title-style" name="salonName"  required />
          </div>
        </div>
        <div class="row form-group">
          <label class="col-sm-5 text-left category-font-style">Street Address</label>
          <div class="input-group col-sm-7">
            <input type="text" class="form-control cat-title-style" name="streetAddress"  required />
          </div>
        </div>
        <div class="row form-group">
          <label class="col-sm-5 text-left category-font-style">State</label>
          <div class="input-group col-sm-7">
            <input type="text" class="form-control cat-title-style" name="State"  required />
          </div>
        </div>
        <div class="row form-group">
          <label class="col-sm-5 text-left category-font-style">City</label>
          <div class="input-group col-sm-7">
            <input type="text" class="form-control cat-title-style" name="City"  required />
          </div>
        </div>
        <div class="row form-group">
          <label class="col-sm-5 text-left category-font-style">Zip Code</label>
          <div class="input-group col-sm-7">
            <input type="text" class="form-control cat-title-style" name="zipCode" required />
          </div>
        </div>
        <div class="row form-group">
          <label class="col-sm-5 text-left category-font-style">Salon Store Number</label>
          <div class="input-group col-sm-7">
            <input type="text" class="form-control cat-title-style" name="salonStoreNumber" required />
          </div>
        </div>
        <div class="row form-group">
          <label class="col-sm-5 text-left category-font-style">Owner Mobile Number</label>
          <div class="input-group col-sm-7">
            <input type="text" class="form-control cat-title-style" name="ownerMobileNumber" required />
          </div>
        </div>
        <div class="row form-group">
          <label class="col-sm-5 text-left category-font-style">Owner Email</label>
          <div class="input-group col-sm-7">
            <input type="text" class="form-control cat-title-style" name="ownerEmail" required />
          </div>
        </div>
        <div class="row form-group">
          <label class="col-sm-5 text-left category-font-style">Time Zones</label>
          <div class="input-group col-sm-7">
            <input type="text" class="form-control cat-title-style" name="timeZones" required />
          </div>
        </div>
        <div class="row form-group">
          <button class="btn category-title cat-title-style">Update</button>
        </div>
      </form>
    </div>
    <div class="col-md-1 col-lg-2 col-xl-2"></div>
  </div>
</div>