<div class="container">
  <div class="row mt-3 mb-3">
    <div class="col-md-1 col-lg-2 col-xl-2"></div>
    <div class="col-sm-12 col-md-10 col-lg-8 col-xl-8 text-white discount-box">
      <h5 class="text-center head-h5 font-weight-bold mt-3 mb-5 pt-4 pb-5"><span class="head text-body">Reset Password</span></h5>
      <form name="form" class="add-category-form">
        <div class="row form-group">
          <label class="col-sm-5 text-left category-font-style">Old Password</label>
          <div class="input-group col-sm-7">
            <input type="password" class="form-control cat-title-style" name="oldPassword"  required />
          </div>
        </div>
        <div class="row form-group">
          <label class="col-sm-5 text-left category-font-style">New Password</label>
          <div class="input-group col-sm-7">
            <input type="password" class="form-control cat-title-style" name="newPassword"  required />
          </div>
        </div>
        <div class="row form-group">
          <label class="col-sm-5 text-left category-font-style">Confirm Password</label>
          <div class="input-group col-sm-7">
            <input type="password" class="form-control cat-title-style" name="confirmPassword"  required />
          </div>
        </div>
        <div class="row form-group">
          <button class="btn category-title cat-title-style">Submit</button>
        </div>
      </form>
    </div>
    <div class="col-md-1 col-lg-2 col-xl-2"></div>
  </div>
</div>